{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "no-unused-vars": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ]
  }
}
