{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ],
    "no-console": ["error", { "allow": ["log"] }]
  }
}
